.navbar-rafif {
    min-height: 10% !important;
    background-color: black !important;
}
.navbar-rafif a{
    font-size: 18px !important;
}

.all-hlmn{
    height: 100vh;
}

.hlmn-satu{
    background-image: url("./wallpaper.jpg"); 
    background-size: cover;
    margin-top: 4vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Muli'!important;
    color: #000000 !important;
    font-weight: bolder !important;
}

.nama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title-name{
    z-index: 2;
    position: absolute;
    text-align: center;
    max-width: 100vw;
    max-height: auto;
}

.title-name h1 {
    font-size: 5vw;
}

.title-name h2 {
    font-size: 3vw;
    color: #FFF4DE;
}

.kotak {
    width: 52vw;
    height: 20vw;
    background-color: #c4c4c4;
    opacity: 0.3
}
.bio-prof{
    color: white;   
    font-size: 5rem;
}

.hlmn-dua{
    background: rgba(62, 49, 5, 0.7); 
    padding-top: 6vw;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-bottom: 90px;
}
.title-hlmn-dua{
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: 20px;
}
.title-hlmn-dua h1{
    font-size: 42px; 
}

.kotak-bio{
    width: 100%;
    display: flex;
}
.kotak-bio img{
    width: 300px;
    height: 350px;
    margin-left: 100px; 
}
.bio-tulisan{
    margin-left: 100px;
}
.bio-tulisan p{
    font-size: 1.5em;
}

.hlmn-tiga{
    background: #CA7900;
    padding-top: 6vw;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-bottom: 90px;

}
.deskripsi{
    text-align: center !important;
    font-size: 160%;
}
.title-all-hlmn{
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
}
.kotak-hobi{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.hlmn-empat{
    background: rgba(62, 49, 5, 0.7); 
    padding-top: 6vw;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-bottom: 90px;
}

.hlmn-kontak{
    background: #CA7900;
    padding-top: 6vw;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-bottom: 50px;
}

.hlmn-under{
    background: #CA7900;
    padding-top: 7vw;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    /* padding-bottom: 90px; */
}
.kotak-under{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
}

.kotak-under img{
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
}


.icon{
    width: 150px;
}
.icon-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-name{
    font-size: 150%;
    color: bisque;
    text-align: center;
    margin-bottom: 50px; 
}

.link{
    color: rgb(156, 153, 152);
}
.link:hover{
    color: rgb(64, 62, 61);
}
.photo-const{
    filter: blur(10px)
}
.photo-const:hover{
    filter: blur(0px)
}

@media screen and (max-width: 700px){
    .kotak-bio{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .kotak-hobi{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .icon-name{
        font-size: 150%;
        color: bisque;
        text-align: center;
        margin-bottom: 50px; 
    }
    .kotak-bio img{
        width: 300px;
        height: 350px;
        margin-left: 40px; 
    }
    .bio-tulisan{
        margin-left: 20px;
        text-align: center;
    }
    .icon-media{
        margin-bottom: 40px;
    }
    .title-name{
        z-index: 2;
        position: absolute;
        text-align: center;
        max-width: 100vw;
        max-height: 90vw;
    }
    .title-name h1 {
        font-size: 47px;
    }
    
    .title-name h2 {
        font-size: 30px;
        color: #FFF4DE;
    }
    
    .kotak {
        width: 250px;
        height: 200px;
        background-color: #c4c4c4;
        opacity: 0.3
    }
    .bio-prof{
        color: white;   
        font-size: 5rem;
    }
    .title-hlmn-dua{
        justify-content: center;
        align-items: center; 
        text-align: center;
        margin-bottom: 20px;
        padding-top: 50px;
    }
    .hlmn-empat{
        background: rgba(62, 49, 5, 0.7); 
        /* padding-top: 6vw; */
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        /* padding-bottom: 90px; */
        padding-top: 70px;
    }
    .hlmn-kontak{
        background: #CA7900;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .kotak-under{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

} 