{% extends 'navbar.html' %}
{% load static from staticfiles %}
{% block content %}
    <div style="display: flex; padding-top: 70px; min-height: 100vh; justify-content: space-around">
        <div class="mb-2 mr-4">
            <form action="" method="post">
                {% csrf_token %}
                <table> 
                    {{ form.as_table }}
                </table>
                <div  class = "mt-2" style = "text-align: center">
                    <input type="submit" value="Tambah Jadwal">
                </div> 
            </form>
        </div>

        {% if list_jadwal.exists  %}   
        <div class="jadwal">
            <table border= "2">
                <tr>
                    <th>Kategori</th>
                    <th>Nama Kegiatan</th>
                    <th>Hari</th>
                    <th>Tanggal</th>
                    <th>Jam</th>
                    <th>Tempat</th>
                    <th>Delete</th>
                </tr>
            {% for jadwal in list_jadwal %}
                <tr>
                    <th>{{jadwal.kategori}}</th>
                    <th>{{jadwal.nama_kegiatan}}</th>
                    <th>{{jadwal.hari}}</th>
                    <th>{{jadwal.tanggal}}</th>
                    <th>{{jadwal.jam}}</th>
                    <th>{{jadwal.tempat_kegiatan}}</th>
                    <th>
                        <a href="{% url 'story5:jadwal-delete' id=jadwal.id %}"><button>delete</button></a>
                    </th>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}