{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Story4.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>My Web</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-rafif">
        <a class="navbar-brand" href="{% url 'story5:home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active " href="{% url 'story5:about' %}">Tentang Diriku</a>
            <a class="nav-item nav-link active " href="{% url 'story5:exp' %}">Pengalaman</a>
            <a class="nav-item nav-link active " href="{% url 'story5:jadwal' %}">Jadwal</a>
            <a class="nav-item nav-link active " href="#kontak">Kontak</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div id="kontak" class="hlmn-kontak">
        <div class="title-all-hlmn">
                <h1>Kontak</h1>
        </div>
        <div class="kotak-hobi">
            <div class="icon-skill">
                <a href="https://www.instagram.com/rafifelfazri/?hl=id" target="_blank">
                    <img src="{% static 'Instagram.svg' %}"alt="" class="icon icon-media">
                </a>   
            </div>
            
            <div class="icon-skill">
                <a href="{% static 'm.rafif_elfazri.jpeg' %}" target="_blank">
                    <img src="{% static 'Line.svg' %}" alt="KDNKLNWKLN" class="icon icon-media">     
                </a>
            </div>
            <div class = "icon-skill">
                <a href="https://www.linkedin.com/in/rafif-elfazri-765634118" target="_blank">
                    <img src="{% static 'LinkedIn.svg' %}" alt="" class="icon icon-media">
                </a>
            </div>
            <div class = "icon-skill">
                <a href="https://wa.me/6282178150093" target="_blank">
                    <img src="{% static 'WhatsApp.svg' %}" alt="" class="icon icon-media">
                </a>    
            </div>  
        </div>
    </div>
</body>
</html>
