{% extends 'navbar.html' %}
{% load static from staticfiles %}
{% block content %}
<div id ="about" class="hlmn-dua">
    <div class="title-hlmn-dua">
        <h1>Tentang Diriku</h1>
    </div>
    <div class="kotak-bio">
        <img src="{% static 'PP.jpeg' %}" alt="">
        <div class="bio-tulisan">
            <p>Nama<br>Muhammad Rafif Elfazri</p>
            <p>Tanggal Lahir<br>24 April 2000</p>
            <p>Asal<br>Palembang</p>
            <p>Universitas<br>Universitas Indonesia</p>
            <a class="link" href="{% url 'story5:under' %}"><p>More About Me...</p></a>
        </div>   
    </div>
</div>

<div class="hlmn-tiga">
        <div class="title-all-hlmn">
                <h1>Hobi</h1>
        </div>
        <div class="kotak-hobi">
            <div class="icon-skill">
                    <img src="{% static 'football.svg' %}" alt="" class="icon" style="transform: rotate(90deg)">
                    <h6 class="icon-name">Football</h6>
            </div>
            <div class="icon-skill">
                    <img src="{% static 'walk.svg' %}" alt="" class="icon">
                    <h6 class="icon-name">Jalan Kaki</h6>

            </div>
            <div class ="icon-skill">
                    <img src="{% static 'Youtube.svg' %}" alt="" class="icon">
                    <h6 class="icon-name">Menonton</h6>
            </div> 
        </div>
        <div class="title-all-hlmn">
                <h1>Deskripsi</h1>
        </div>
        <div class="text-align-center mr-auto ml-auto" style="width: 80%">
                <p class="deskripsi"> 
                        Saya adalah mahasiswa rantauan yang menimba ilmu di Universitas Indonesia.
                        Saya sangat tertarik dalam bidang programming dan <br>
                        saya ingin terus mempelajari hal baru dan tidak takut untuk mencobanya.
        </p>
        </div>
</div>
{% endblock %}